injector~=0.18.4
jsonpickle==2.0.0
PyYAML==5.4
Fernet==1.0.1
cryptography==3.3.2
SQLAlchemy==1.4.19
alembic==1.6.5
psycopg2-binary==2.8.6
pytest==6.1.1
rpyc==5.0.1
Flask==1.1.4
Flask_Cors==3.0.9
Flask-Ext==0.1
Flask-Injector==0.12.3
flask-restx==0.5.1
Werkzeug==1.0.1
dataclasses==0.6
requests==2.26.0
pdip==0.4.7