<!doctype html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
  <title>SocketIO</title>
</head>
<body>

  <script type="text/javascript" charset="utf-8">
    //Establish connection and emit a message to confirm.
    var socketHost=location.protocol+'//' + document.domain + ':' + location.port
    console.log(socketHost);
    var socket = io.connect(socketHost);
    socket.on('connect', function() {
        socket.emit('notification', {data: 'I\'m connected on own site!'});
    });
    socket.on('notification', function(data) {
        console.log(data);
    });

  </script>

</body>
</html>